.container {
  grid-row: 1/3;
  grid-column: 2/3;
  position: relative;
  width: 1179px;
  background-color: #e5e5e5;
}

.excerpt-container {
  position: absolute;
  top: 93px;
  left: 30px;
  display: flex;
}

.excerpt-item {
  background: #ffffff;
  border: 1px solid #eef8fd;
  box-sizing: border-box;
  border-radius: 2px;
  width: 253px;
  height: 75px;
  position: relative;
}

.excerpt-item > .graph-one {
  position: absolute;
  left: 67.19%;
  right: 8.3%;
  top: 25.33%;
  bottom: 48.99%;
  background-color: #ffffff;
}

.excerpt-item > .graph-two {
  width: 62px;
  height: 37px;
  position: absolute;
  left: 67.19%;
  right: 8.3%;
  top: 25.33%;
  bottom: 25.33%;
}

.excerpt-item > ul {
  list-style: none;
  font-family: "Segoe UI";
  margin-left: 18px;
  margin-bottom: 17px;
}

.excerpt-item > ul > li:first-child {
  margin: 18px 0 0;
  font-size: 12px;
  line-height: 16px;
  color: #787c90;
}

.excerpt-item > ul > li:last-child {
  font-size: 18px;
  line-height: 24px;
  color: #262626;
  margin: 0;
}

.excerpt-item:first-child {
  margin-right: 9px;
}

.excerpt-item:nth-child(2) {
  margin-right: 37px;
}

.excerpt-item:nth-child(3) {
  margin-right: 11px;
}

.excerpt-item:last-child {
  margin-right: 80px;
}

.gradientContainer {
  position: absolute;
  top: 195px;
  left: 30px;
  background-color: #ffffff;
  width: 1068px;
  height: 329px;
  display: grid;
  grid-template-rows: 92px 72px 164.96px;
  grid-template-columns: 689.6px 377px;
  grid-template-areas:
    "headerArea orderArea"
    "bodyArea orderArea"
    "bodyArea paymentsArea";
}

.listing-container {
  background-color: #e5e5e5;
  position: absolute;
  top: 567px;
  left: 30px;
  bottom: 121px;
}

.listing-container > div:first-child {
  height: 30px;
  font-family: "Segoe UI";
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 29px;
}

.listing-container > div:nth-child(2) {
  display: flex;
  position: absolute;
  height: 30px;
  width: 1069px;
}

.listing-container > div:nth-child(2) > span:first-child {
  font-family: "Segoe UI";
  font-size: 13px;
  line-height: 17px;
  color: #262626;
  margin-right: 20px;
}

.listing-container > div:nth-child(2) > span:nth-child(2) {
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 19px;
  color: #1875f0;
  margin-right: 13px;
}

.listing-container > div:nth-child(2) > span:nth-child(3) {
  font-family: "Segoe UI";
  font-size: 13px;
  line-height: 17px;
  color: #262626;
  margin-right: 57px;
}

.listing-container > div:nth-child(2) > span:nth-child(4) {
  font-family: "Segoe UI";
  font-size: 11px;
  line-height: 15px;
  color: #787878;
  width: 366.5px;
  height: 22px;
  border: none;
  border-bottom: 0.5px solid #787878;
  margin-right: 137.5px;
}

.listing-container > div:nth-child(2) > span:nth-child(4) > svg {
  margin-right: 7px;
}

.listing-container > div:nth-child(2) > span:nth-child(4) > input {
  border: none;
  background-color: #e5e5e5;
}

.listing-container > div:nth-child(2) > span:nth-child(5) {
  background-color: #e5e5e5;
  font-family: "Segoe UI";
  font-size: 13px;
  line-height: 17px;
  color: hsl(0, 0%, 0%);
  margin: 6px 16px 0 0;
  width: 32px;
  height: 18px;
}

.listing-container > div:nth-child(2) > ul {
  list-style: none;
  border-radius: 0px 0px 6px 6px;
  margin: 0;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
}

.listing-container > div:nth-child(2) > div {
  background-color: #ffffff;
  min-width: 150px;
  position: relative;
  height: 35px;
  border-radius: 2px;
}

.listing-container > div:nth-child(2) > div > div {
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI";
  font-size: 13px;
  line-height: 17px;
  color: #414042;
  border-radius: 2px;
  background: #f4f4f4;
  border: 1px solid #ced0da;
  height: 100%;
  width: 100%;
}

.listing-container > div:nth-child(2) > div > div > span {
  flex: 1;
}

.listing-container > div:nth-child(2) > div > div > span:last-child {
  padding: 8px 16px 9px 0;
  text-align: end;
  transform: rotate(0, 0);
  transition: transform 0.4s linear 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.spinned {
  transform: rotate(-90deg);
}

.listing-container > div:nth-child(2) > div > div > span:first-child {
  padding: 8px 0px 9px 16px;
  text-align: start;
}

.listing-container > div:nth-child(2) > div > ul {
  list-style: none;
  margin: 0;
  position: absolute;
  z-index: 100000000;
  background-color: #ffffff;
}

.listing-container > div:nth-child(2) > div > ul > li {
  width: 150px;
  height: 33px;
  padding: 8px 0 7px 18px;
  font-family: "Segoe UI";
  font-size: 13px;
  line-height: 17px;
  color: #414042;
  margin: 0;
}

.listing-container > div:nth-child(2) > div > ul > li:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.listing-container > div:nth-child(2) > ul > li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  background-color: #f4f4f4;
}

progress {
  -webkit-appearance: none;
  border: none;
  height: 4px;
  width: 305px;
  margin-bottom: 11px;
}

progress::-webkit-progress-bar {
  background: #fdc203;
}

progress::-webkit-progress-value {
  background: #27ae60;
}

.orderContainer {
  grid-area: orderArea;
  background-color: #ffffff;
  border-bottom: 4px solid #f7f8fa;
  display: flex;
  flex-direction: column;
  padding: 21px 0 24px 25px;
}

.orderContainer > span {
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  margin-bottom: 11px;
}

.orderContainer > span:first-child {
  font-weight: bold;
}

.paymentsContainer {
  grid-area: paymentsArea;
  background-color: #ffffff;
  border-bottom: 4px solid #f7f8fa;
  display: flex;
  flex-direction: column;
  padding: 21px 0 24px 25px;
}

.paymentsContainer > span {
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  margin-bottom: 11px;
}

.paymentsContainer > span:first-child {
  font-weight: bold;
}

.gradientContainer > header {
  grid-area: headerArea;
  display: flex;
  border-right: 4px solid #f7f8fa;
}

.gradientContainer > header > div:first-child {
  margin-left: 34px;
  margin-top: 26px;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
}

.gradientContainer > header > ul {
  border: 1px solid #dde0e3;
  border-radius: 4.25px;
  list-style: none;
  width: 138px;
  height: 31px;
  margin: 0;
  margin-left: 207px;
  margin-top: 23px;
  margin-right: 39.23px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.gradientContainer > header > ul > li {
  font-family: "Segoe UI";
  font-size: 12px;
  line-height: 16px;
  color: #7f8fa4;
  padding: 0;
  margin: 0;
  margin-left: 11px;
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.gradientContainer > header > ul > li > span:first-child {
  width: 87px;
  margin-right: 19px;
}

.gradientContainer > header > ul > li > span:last-child {
  display: flex;
  align-items: center;
}

.gradientContainer > header > .arrow-button {
  margin-top: 27px;
  color: #cccfd4;
}

.gradientContainer > header > div > svg:first-child {
  margin-right: 18.2px;
}

.gradient-body {
  grid-area: bodyArea;
  border-right: 4px solid #f7f8fa;
  position: relative;
}

.gradient-body > div {
  position: absolute;
  display: flex;
  height: 200px;
  width: 100%;
}

.gradient-body > div > span {
  text-align: center;
  mix-blend-mode: normal;
  border-right: 1.4px solid #cfe8fb;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.gradient-body > div > span:first-child {
  width: 103px;
}

.gradient-body > div > span:nth-child(2) {
  width: 114.6px;
}

.gradient-body > div > span:nth-child(3) {
  width: 118.6px;
}

.gradient-body > div > span:nth-child(4) {
  width: 115.6px;
}

.gradient-body > div > span:nth-child(5) {
  width: 120.62px;
}

.gradient-body > div > span:last-child {
  width: 103px;
  border: none;
}

.gradient-graph {
  position: absolute;
  bottom: 0.04px;
}
