.list-container {
  width: 1068px;
  height: 726px;
  position: absolute;
  top: 100px;
  background-color: chartreuse;
  display: grid;
  grid-template-rows: 42px 684px;
  grid-template-columns: 4fr 1fr 2fr 1fr 2fr;
  grid-template-areas:
    "headerArea headerArea headerArea headerArea headerArea"
    "bodyArea bodyArea bodyArea bodyArea bodyArea";
}

.list-header {
  grid-area: headerArea;
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr 2fr;
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 19px;
  color: #7F8FA4;
  background: #EAEEF0;
}

.list-header>div {
  margin-top: 12px;
  margin-bottom: 11px;
}

.list-header>div:first-child {
  margin-left: 26px;
}

.list-body {
  grid-area: bodyArea;
}

.list-item {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr 2fr;
  grid-auto-rows: 76px;
  height: 76px;
  padding: 30px 0 29px 0;
  background: #FFFFFF;
  border-bottom: 1px solid #CCCFD4;
}

.list-item>span:first-child {
  padding-left: 26px;
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 19px;
  color: #414042;
}

.list-item>span:first-child>span {
  width: 36px;
  height: 36px;
  font-family: "Segoe UI";
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background: #7F8FA4;
  border-radius: 50%;
  padding: 10px 9px 10px 8px;
  margin-right: 26px;
}

.list-item>span:nth-child(2) {
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 16px;
  color: #7F8FA4;
}

.list-item>span:nth-child(3) {
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 16px;
  color: #7F8FA4;
}

.list-item>span:nth-child(4) {
  font-family: "Segoe UI";
  font-size: 14px;
  line-height: 16px;
  color: #7F8FA4;
}

.list-item>span:last-child {
  display: flex;
  justify-content: space-between;
  margin-right: 33px;
}

.list-item>span:last-child>span:first-child {
  border: 1px solid #CCCFD4;
  box-sizing: border-box;
  border-radius: 30px;
  width: 120px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item>span:last-child>span:first-child>span:first-child {
  width: 9px;
  height: 9px;
  margin-left: 12px;
  border-radius: 50%;
}

.list-item>span:last-child>span:first-child>span:last-child {
  position: relative;
  font-family: "Segoe UI";
  font-size: 12px;
  line-height: 14px;
  margin: 0 11px 1px 8px;
}

.list-item>span:last-child>span:last-child {
  width: 27px;
  height: 26px;
  text-align: start;
}

.dropdown-arrow {
  transform: rotate(-90deg);
  color: #CCCFD4;
}